
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.animate-on-scroll {
    opacity: 0;
    transition: opacity 0.7s, transform 0.5s;
}

.animate-on-scroll.visible {
    animation: fadeIn 0.7s forwards;
}

