#header-container {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #header-logo {
    font-size: 20pt;
    font-weight: bold;
    margin-left: 20px;
}


header ul {
    display: flex;
    list-style: none;
    margin: 2px;

    li {
        margin-right: 40px;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            color: #000;
            font-size: 11pt;
            font-family: "Poppins", serif;
            font-weight: 400;
        
            margin-left: 5px;
        }
    }
}

#language-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    .flag-image {
        width: 20px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

