<div id="footer">
    <div id="footer-contact">
        <span id="footer-facebook"></span>
        <span id="footer-email"></span>
        <span id="footer-phone"></span>
    </div>
    <div id="footer-links">
        <nav>
            <ul>
                <li><a id="home-link-footer"></a></li>
                <li><a id="about-link-footer"></a></li>
                <li><a id="gallery-link-footer"></a></li>
                <li><a id="museum-link-footer"></a></li>
            </ul>
        </nav>
    </div>
</div>