<div id="footer">
    <div id="footer-info">
        <div id="footer-contact">
            <div>
                <i class="bi bi-house-door"></i>
                <span id="footer-address"></span>
            </div>
            <div>
                <i class="bi bi-envelope-at"></i>
                <span id="footer-email"></span>
            </div>
            <div>
                <i class="bi bi-telephone"></i>
                <span id="footer-phone"></span>
            </div>
        </div>
        <div id="footer-social">
            <div>
                <a id="footer-facebook"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
    <div id="footer-links">
        <nav>
            <ul>
                <li>
                    <i class="bi bi-house-door"></i>
                    <a id="home-link-footer"></a>
                </li>
                <li>
                    <i class="bi bi-info-circle"></i>
                    <a id="about-link-footer"></a>
                </li>
                <li>
                    <i class="bi bi-images"></i>
                    <a id="gallery-link-footer"></a>
                </li>
                <li>
                    <i class="bi bi-bank"></i>
                    <a id="museum-link-footer"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>