<header>
    <div class="logo-container">
        <span class="fancy-font" id="header-logo">Motivum</span>
    </div>
    </div class="nav-container">
        <nav>
            <ul>
                <li><a href="#home-container">Home</a></li>
                <li><a href="#about-container">About</a></li>
                <li><a href="#gallery-container">Gallery</a></li>
                <li><a href="#museum-container">Museum</a></li>
                <li><a href="#contact-container">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>