<header>
    <div class="logo-container">
        <span class="fancy-font" id="header-logo">Motivum</span>
    </div>
    </div class="nav-container">
        <nav>
            <ul>
                <li>
                    <i class="bi bi-house-door"></i>
                    <a id="home-link-header"></a>
                </li>
                <li>
                    <i class="bi bi-info-circle"></i>
                    <a id="about-link-header"></a>
                </li>
                <li>
                    <i class="bi bi-images"></i>
                    <a id="gallery-link-header"></a>
                </li>
                <li>
                    <i class="bi bi-bank"></i>
                    <a id="museum-link-header"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>