#about-container {
    position: relative;
}

#about {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
}

#about-image-container {
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#about-images-insider-container {
    width: 100%;
    
    position: relative;
}

#about-cover-image {
    width: 100%;
    border-radius: 10px;
}

#about-founder-image {
    width: 30%;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: -4%;
    left: -6%;
    z-index: 1;
}

#about-description-container {
    padding-top: 30px;
    width: 25vw;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    
}
#about-description-container span {
    font-size: small;
}

#about-title {
    font-size: 7vw;
    font-weight: 700;
    font-style: normal;

    position: absolute;
    top: 10%;
    left: 45vw;
}